input
  border: none
  &:focus
    outline: none
.button
  color: black
  text-decoration: none
  padding: 10px 20px
  border: none
  background: #898686
  color: #fff
  width: max-content
  &_delete
    background: red
  &_safe
    background: #2ad300
  &:focus
    outline: none